{% extends 'base.html.twig' %}

{% block title %}Modifier la categorie{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('categories_index') }}">Retour à la liste des catégories</a>

    {{ include('categories/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
