{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle categorie{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('categories_index') }}">Retour à la liste des catégories</a>

    {{ include('categories/_form.html.twig') }}
{% endblock %}
